<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vue.back.mapper.CommentMapper">
  
  <insert id="commentWrite">
  	INSERT INTO comment(
  		mother_uid,
  		comment,
  		created_user,
  		created_at
  	)
  	VALUES(
  		#{mother_uid},
  		#{comment},
  		#{created_user},
  		now()
  	)
  </insert>
  
  <select id="commentView" parameterType="long" resultType="com.vue.back.dto.CommentDto">
  	SELECT
  		uid,
  		comment,
  		created_user,
  		created_at
  	FROM
  		comment
  	WHERE
  		is_del = 0
  	AND
  		mother_uid = #{uid}
  </select>
  
</mapper>